.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  font-size: 12px;
  line-height: .5;
}
.highlight .cm {
  font-size: 12px;
  line-height: .5;
  color: #969896;
}
.highlight .cp {
  font-size: 12px;
  line-height: .5;
  color: #797676;
}
.highlight .c1 {
  font-size: 12px;
  line-height: .5;
  color: #777772;
}
.highlight .cs {
  font-size: 12px;
  line-height: .5;
  color: #797676;
}
.highlight .c, .highlight .cd {
  font-size: 12px;
  line-height: .5;
  color: #777772;
}
.highlight .err {
  font-size: 12px;
  line-height: .5;
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  font-size: 12px;
  line-height: .5;
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .gr {
  font-size: 12px;
  line-height: .5;
  color: #aa0000;
}
.highlight .gh {
  font-size: 12px;
  line-height: .5;
  color: #797676;
}
.highlight .gi {
  font-size: 12px;
  line-height: .5;
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  font-size: 12px;
  line-height: .5;
  color: #888888;
}
.highlight .gp {
  font-size: 12px;
  line-height: .5;
  color: #555555;
}
.highlight .gs {
  font-size: 12px;
  line-height: .5;
}
.highlight .gu {
  font-size: 12px;
  line-height: .5;
  color: #aaaaaa;
}
.highlight .gt {
  font-size: 12px;
  line-height: .5;
  color: #aa0000;
}
.highlight .kc {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .kd {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .kn {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .kp {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .kr {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .kt {
  font-size: 12px;
  line-height: .5;
  color: #445588;
}
.highlight .k, .highlight .kv {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .mf {
  font-size: 12px;
  line-height: .5;
  color: #009999;
}
.highlight .mh {
  font-size: 12px;
  line-height: .5;
  color: #009999;
}
.highlight .il {
  font-size: 12px;
  line-height: .5;
  color: #009999;
}
.highlight .mi {
  font-size: 12px;
  line-height: .5;
  color: #009999;
}
.highlight .mo {
  font-size: 12px;
  line-height: .5;
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  font-size: 12px;
  line-height: .5;
  color: #009999;
}
.highlight .sb {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .sc {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .sd {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .s2 {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .se {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .sh {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .si {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .sx {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .sr {
  font-size: 12px;
  line-height: .5;
  color: #009926;
}
.highlight .s1 {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .ss {
  font-size: 12px;
  line-height: .5;
  color: #009926;
}
.highlight .s {
  font-size: 12px;
  line-height: .5;
  color: #a71d5d;
}
.highlight .na {
  font-size: 12px;
  line-height: .5;
  color: #008080;
}
.highlight .bp {
  font-size: 12px;
  line-height: .5;
  color: #797676;
}
.highlight .nb {
  font-size: 12px;
  line-height: .5;
  color: #0086B3;
}
.highlight .nc {
  font-size: 12px;
  line-height: .5;
  color: #445588;
}
.highlight .no {
  font-size: 12px;
  line-height: .5;
  color: #183691;
}
.highlight .nd {
  font-size: 12px;
  line-height: .5;
  color: #3c5d5d;
}
.highlight .ni {
  font-size: 12px;
  line-height: .5;
  color: #800080;
}
.highlight .ne {
  font-size: 12px;
  line-height: .5;
  color: #990000;
}
.highlight .nf {
  font-size: 12px;
  line-height: .5;
  color: #8D4AF1;
}
.highlight .nl {
  font-size: 12px;
  line-height: .5;
  color: #990000;
}
.highlight .nn {
  font-size: 12px;
  line-height: .5;
  color: #555555;
}
.highlight .nt {
  font-size: 12px;
  line-height: .5;
  color: #000080;
}
.highlight .vc {
  font-size: 12px;
  line-height: .5;
  color: #008080;
}
.highlight .vg {
  font-size: 12px;
  line-height: .5;
  color: #008080;
}
.highlight .vi {
  font-size: 12px;
  line-height: .5;
  color: #008080;
}
.highlight .nv {
  font-size: 12px;
  line-height: .5;
  color: #008080;
}
.highlight .ow {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .o {
  font-size: 12px;
  line-height: .5;
  color: #000000;
}
.highlight .w {
  font-size: 12px;
  line-height: .5;
  color: #bbbbbb;
}
.highlight {
  font-size: 12px;
  line-height: .5;
  background-color: #f3f6fa;
}

.n {
  font-size: 12px;
  line-height: .5;
  color: #0086b3;
}

nav {
  text-align: center;
  background-color: #454545;
  z-index: 10;
  a {
    padding: 0 10%;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.project-link {
  color: #fff
}

.p {
  font-size: 12px;
  line-height: .5;
}

code {
  font-size: 12px;
  line-height: .5;
}
